<p id="notice"><%= notice %></p>

<h1>Recent Moos</h1>

    <% @moos.each do |moo| %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= moo.content %>
  </div>
  <div class="panel-footer">sent by <%= moo.user.email %> on <%= moo.created_at.strftime("%b%d, %Y") %> at <%= moo.created_at.strftime("%I:%M%p") %></div>
  </div>
    <% end %>

<br>

<%= link_to 'New Moo', new_moo_path %>
